h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  line-height: 2em;
}

h1 {
  font-size: 36px;
}

li {
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}

a {
  color: #666666;
  text-decoration: none;
  outline: none;
}

input {
  font-family: Georgia;
}

html, body {
  height: 100%;
}

body {
  font-family: Georgia;
  font-size: 16px;
  color: #666666;
  line-height: 2em;
}

#wrap {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
