<input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
<div class="form-row">
  <label class="form-title" for="blog[title]">Title : </label>
  <input class="text-input" type="text" name="blog[title]" value="<?= it.val( it.blog, 'title' ) ?>"/>
</div>
<div class="form-row">
  <label class="form-title" for="blog[desc]">Desc : </label>
  <input class="text-input" type="text" name="blog[desc]" value="<?= it.val( it.blog, 'desc' ) ?>"/>
</div>
<div class="form-row">
  <label class="form-title" for="blog[is_public]">IsPublic : </label>
  <input class="text-input" type="text" name="blog[is_public]" value="<?= it.val( it.blog, 'is_public' ) ?>"/>
</div>