<? it.styles.push( 'scaffold' ); ?>
<? it.title = 'Blog detail'; ?>
<? it.nav_selected = 'blogs'; ?>

<div id="table">
  <div class="form-row">
    <label class="form-title" >ID : </label>
    <label ><?= it.blog._id ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Title : </label>
    <label ><?= it.blog.title ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Desc : </label>
    <label ><?= it.blog.desc ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >IsPublic : </label>
    <label ><?= it.blog.is_public ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Created at : </label>
    <label ><?= it.blog.created_at ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Updated at : </label>
    <label ><?= it.blog.updated_at ?></label>
  </div>
</div>
<a href="/blogs/<?= it.blog._id ?>/edit">Edit</a> |
<a href="/blogs">Back</a>